body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f7f7f7; /* Set a background color */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
  }
  .logo {
    position: absolute;
    top: 5px; /* Adjust the top position as needed */
    left: 0;
    margin: 20px; /* Adjust margin as needed */
    color: black;
    text-decoration: none; 
    z-index: 1;/* Remove underline from the link */
  }
  
  .logo::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px; /* Adjust the circle size as needed */
    height: 170px; /* Adjust the circle size as needed */
    border-radius: 100%;
    background: linear-gradient(to bottom, #e68fac , white); /* Adjust gradient colors */
    z-index: -1;
  }

  #hero--heading_text {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .top-buttons {
    position: absolute;
    top: 15px;
    right: 40px; /* Adjust the right distance as needed */
  }
  
  .top-button {
    margin-left: 10px; /* Adjust the margin between buttons as needed */
    color: white;
    background-color: #4285f4; /* Adjust the background color as needed */
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .top-button:hover {
    background-color: #2980b9; /* Adjust the hover background color as needed */
  }
  
  #hero--normal_text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #btn__cta {
    background-color: #4285f4;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #btn__cta:hover {
    background-color: #357ae8;
  }
  
  .hero_sub--section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 40px;
  }
  
  .hero_sub--list {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
  
  .hero--list {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .hero_sub--section-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  

  /* Responsive Design */
  @media only screen and (max-width: 768px) {
    .hero {
        padding: 100px 100px; /* Increase the top padding to move the content down */
      }
    
      .hero_sub--list,
      .hero_sub--section-image {
        margin-top: 100px; /* Increase the top margin to move the content down */
      }
    /* Add more responsive styles as needed */
  }
  