.osp {
    margin-top: 7rem;
}

.osp-heading {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;

}

.osp-text {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

.osp-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}